*:not(.fa) {
  font-family: "Lato", sans-serif !important;
}

body {
  font-family: "Lato", sans-serif !important;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  accent-color: #f16667;
}

.color-primary {
  color: #f16667;
}

.color-light-gray {
  color: #a9a9a9;
}

.user-list .top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.user-list .top-section .page-sub-title {
  font-weight: 600;
  font-size: 18px;
  color: #333;
}
.user-list table {
  border-collapse: separate;
  border-spacing: 0 12px;
}
.user-list table tbody tr {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-appearance: none;
}
.user-list table tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid #ebebeb;
}
.user-list table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #ebebeb;
}
.user-list table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}
.user-list table tbody tr td {
  padding: 15px 8px;
  font-size: 14px;
  color: #7a7a7a;
  border-top: 1px solid #ebebeb;
}
.user-list .user-full-name {
  margin-left: 12px;
}
.user-list .user-full-name span {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.user-list td {
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;
}
.user-list th {
  color: #747474;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
}
.user-list thead tr {
  border-width: 0 !important;
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}
.user-list thead tr th:last-child {
  width: 110px;
}
.user-list .user-full-name {
  display: flex;
  align-items: center;
}
.user-list span {
  display: inline-block;
}
.user-list .email {
  font-weight: 600;
}
.user-list .action-btn button {
  outline: none;
  border: none;
  padding: 0px 8px;
}
.user-list .action-btn {
  display: flex;
  align-items: center;
}
.user-list .action-btn svg.lock {
  height: 20px;
  width: 20px;
  fill: #7f7f7f;
}
.user-list .action-btn svg.pencil {
  height: 18px;
  width: 19px;
  fill: #3045c5;
}
.user-list .action-btn svg.delete {
  height: 20px;
  width: 20px;
  fill: #f02e13;
  margin-right: 20px;
}
.user-list .action-btn svg:hover {
  cursor: pointer;
}
.user-list .action-btn svg:first-child {
  margin-right: 20px;
}
.user-list .header-profile-user {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
}
.user-list.question-tbl-list .action-btn svg.pencil {
  fill: #7a7a7a;
}

:where(.css-dev-only-do-not-override-k83k30).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #f16667;
  opacity: 0.8;
}

:where(.css-dev-only-do-not-override-k83k30).ant-switch.ant-switch-checked {
  background: #f16667;
}

:where(.css-dev-only-do-not-override-k83k30).ant-switch {
  line-height: 20px;
  min-width: 33px;
  height: 20px;
  background: #dbdbdb;
  margin-right: 10px;
}

:where(.css-dev-only-do-not-override-k83k30).ant-switch.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 16px);
  top: 4px;
  width: 12px;
  height: 12px;
}

:where(.css-dev-only-do-not-override-k83k30).ant-switch .ant-switch-handle {
  top: 4px;
  width: 12px;
  height: 12px;
}

:where(.css-dev-only-do-not-override-k83k30).ant-switch:hover:not(.ant-switch-disabled) {
  background: rgba(0, 0, 0, 0.1);
}

/*calendar management css*/
.calendar-management .user-list .top-section {
  align-items: end;
  justify-content: start;
}
.calendar-management .user-list .top-section.publice {
  justify-content: flex-end;
}
.calendar-management .user-list .top-section.publice > div {
  text-align: right;
}
.calendar-management .user-list .top-section label {
  font-size: 13px;
}
.calendar-management .action-btn svg.pencil {
  fill: #7a7a7a;
}
.calendar-management .user-full-name div span {
  max-width: 290px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.calendar-management .user-full-name .public-name {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

/* External user management css*/
.ex-user-managment .user-details-box {
  width: 300px;
  display: inline-block;
}
.ex-user-managment .user-details-box .overview-card-details {
  padding-left: 0;
  margin-top: 20px;
}
.ex-user-managment .user-details-box .overview-card-details h4 {
  font-size: 18px;
  margin-bottom: 2px;
  word-break: break-word;
}
.ex-user-managment .user-details-box .overview-card-details .user-email {
  color: #fff;
  font-size: 13px;
}
.ex-user-managment .user-details-box .edit-image {
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.ex-user-managment .user-details-box .overview-item {
  border: 6px solid #ededed;
  padding: 30px;
  text-align: center;
  min-height: 250px;
}
.ex-user-managment .user-details-box .user-profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f78294;
}
.ex-user-managment .user-form {
  width: calc(100% - 300px);
  display: inline-block;
  vertical-align: top;
}
.ex-user-managment .user-form .form-wrapper {
  border-radius: 11px;
}
.ex-user-managment .user-form .form-wrapper .form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ex-user-managment .user-form .form-wrapper .form-footer p {
  font-size: 18px;
  font-weight: bold;
  color: #7a7a7a;
  margin: 0;
}
.ex-user-managment.user-management-form .user-form .form-wrapper .form-footer {
  justify-content: flex-end;
}

.bid-value-span {
  font-size: 18px !important;
}

.flag-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flag-filters .separator {
  margin-bottom: 10px;
}
.flag-filters .form-check-input:focus {
  box-shadow: none;
}

.add-flag-btn {
  text-decoration: none;
}
.add-flag-btn span {
  font-size: 11px;
  font-weight: 900;
  color: #14c040;
}

.flag-main .small-table table thead tr,
.flag-main .small-table table thead th {
  border: none !important;
  padding: 16px 16px 16px 8px;
}
.flag-main .small-table table thead td {
  padding: 12px 15px;
}
.flag-main .ant-switch.ant-switch-checked {
  background: #31c858;
}
.flag-main .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #31c858;
  opacity: 0.8;
}

.flag-owner-name {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.eod-main-tab {
  overflow-x: auto;
}

.eod-table {
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll;
  border-spacing: 0;
}
.eod-table thead tr th:first-child {
  position: sticky;
  left: -1px;
  background-color: #f5f5f5;
  z-index: 3;
  box-shadow: inset 7px 0 2px -7px rgba(0, 0, 0, 0.4);
  border-left: 0;
}
.eod-table thead tr th {
  height: 40px;
  padding: 0px 15px;
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid #dadada;
  background-clip: padding-box;
  color: #747474;
  font-size: 12px;
  font-weight: 900;
  vertical-align: middle;
}
.eod-table thead tr th.current-date {
  color: #fff;
  background: linear-gradient(180deg, #f5466f 50%, #f16667 100%);
}
.eod-table thead tr th.current-date span {
  line-height: normal;
}
.eod-table tbody tr td {
  z-index: 1;
  background-clip: padding-box;
  border: 1px solid #dadada;
  padding: 10px 15px;
  position: relative;
}
.eod-table tbody tr td:first-child {
  background-color: #f5f5f5;
  z-index: 3;
  left: -1px;
  position: sticky;
  box-shadow: inset 7px 0 2px -7px rgba(0, 0, 0, 0.4);
  border-left: 0;
}
.eod-table tbody tr td .active-td {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.eod-table tbody tr td .active-td a {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.eod-table tbody tr td:hover .active-td {
  background-color: #fde6e6;
  color: #fff;
}
.eod-table tbody tr td:hover .active-td a {
  display: block;
}
.eod-table tbody tr td:hover .active-td a svg {
  display: inline-block;
}
.eod-table tbody tr td:hover .active-td a svg.pencil {
  fill: #3045c5;
}
.eod-table tbody tr td:hover .active-td a svg.delete {
  fill: #f02e13;
}
.eod-table tbody tr td .visited-td {
  padding: 10px 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0;
  top: 0;
}
.eod-table tbody tr td .visited-td .action-btn {
  display: none;
}
.eod-table tbody tr td .visited-td:hover {
  background-color: #fde6e6;
}
.eod-table tbody tr td .visited-td:hover .action-btn {
  display: block;
}
.eod-table tbody tr td.current-date {
  background-color: #fef6f6;
}
.eod-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.eod-table tbody .action-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.eod-table tbody .action-btn svg {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.eod-table tbody .action-btn svg.pencil {
  fill: #3045c5;
  margin-right: 10px;
}
.eod-table tbody .action-btn svg.delete {
  fill: #f02e13;
  margin-right: 10px;
}
.eod-table tbody .ant-tabs .tab-content {
  overflow-x: auto;
}
.eod-table tbody .eod-update-msg {
  font-size: 11px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-right: 20px;
}
.eod-table .eod-user-details img {
  height: 42px;
  width: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.eod-table .eod-user-details img.active-user {
  border: 2px solid #f16667;
}
.eod-table .eod-user-details .eod-user-name {
  font-size: 13px;
  font-weight: 900;
  color: #333333;
}

.eod-edit-note-modal .date {
  font-size: 15px;
  font-weight: 700;
  color: #2e2e2e;
}

.ant-select-item-option-content .tag-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-top: 0;
}
.ant-select-item-option-content .user-full-name {
  font-size: 13px;
  font-weight: 600;
  color: #252928;
  max-width: 110px;
  line-height: normal;
  display: inline-block;
  margin-right: 4px;
}
.ant-select-item-option-content .user-email {
  font-size: 11px;
  font-weight: 400;
  color: #727272;
  max-width: 160px;
}

.text-ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-gray {
  color: #7a7a7a !important;
}

#page-topbar button.show .header-profile-user {
  border: 2px solid #f9b3b5;
}

.bid-info-box > .ant-card {
  min-height: 362px;
}

.mark-holiday {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 27px;
}

.text-area {
  border: 2px solid #cfcfcf;
  font-size: 15px;
  color: #333;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 12px;
  outline: none;
}
.text-area::placeholder {
  opacity: 0.5;
}
.text-area:focus {
  border-color: rgb(255, 204, 204);
}

.add-stage-modal .ant-modal-content .ant-modal-footer, .edit-flag-modal .ant-modal-content .ant-modal-footer, .eod-modal .ant-modal-content .ant-modal-footer {
  margin-top: 0;
}

.edit-flag-modal .ant-select-selector i.fa-circle {
  margin-right: 5px;
  margin-top: -2px;
}

.ant-select-dropdown .ant-select-item-option-content i.fa-circle {
  margin-right: 5px !important;
  margin-top: -2px;
}

.scroll-right {
  cursor: pointer;
  width: 16px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.scroll-left {
  cursor: pointer;
  width: 16px;
  transform: rotate(180deg);
  position: absolute;
  margin-left: 0px;
  margin-top: 7px;
}

.bid-info-msg {
  width: 448px;
  display: inline-block;
  vertical-align: super;
  font-size: 13px;
  color: #a9a9a9;
}
.bid-info-msg i {
  font-size: 14px;
  margin-right: 5px;
  color: #f16667;
}

a {
  text-decoration: none;
}

.account-info-grid {
  background-color: rgb(252, 88, 117);
  padding: 25px;
  border-radius: 15px;
}
.account-info-grid svg {
  width: 150px !important;
}
.account-info-grid .fa {
  font-size: 60px;
  color: #fff;
  margin: 20px auto;
}

.user-form .form-wrapper .form-group .form-control {
  padding: 12px 12px;
}
.user-form .form-wrapper .form-group .form-control .ant-select-selector {
  height: 48px;
}
.user-form .form-wrapper .form-group .form-control .ant-select-selector .ant-select-selection-item {
  line-height: 48px;
}
.user-form .form-wrapper .form-group .form-control .ant-select-selector .ant-select-selection-search-input {
  height: 45px;
}
.user-form .form-wrapper .bottom-align {
  display: flex;
  align-items: flex-end;
}
.user-form .form-wrapper .bottom-align .form-group {
  padding: 5px 0px;
}

.s-f16667 div[title="#f16667"] {
  background-color: #f16667 !important;
}
.s-f16667 div[title="#f16667"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-FFB399 div[title="#FFB399"] {
  background-color: #FFB399 !important;
}
.s-FFB399 div[title="#FFB399"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-ff0000 div[title="#ff0000"] {
  background-color: #ff0000 !important;
}
.s-ff0000 div[title="#ff0000"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-3366E6 div[title="#3366E6"] {
  background-color: #3366E6 !important;
}
.s-3366E6 div[title="#3366E6"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-f88800 div[title="#f88800"] {
  background-color: #f88800 !important;
}
.s-f88800 div[title="#f88800"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-ffd359 div[title="#ffd359"] {
  background-color: #ffd359 !important;
}
.s-ffd359 div[title="#ffd359"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-0ebe75 div[title="#0ebe75"] {
  background-color: #0ebe75 !important;
}
.s-0ebe75 div[title="#0ebe75"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-116eef div[title="#116eef"] {
  background-color: #116eef !important;
}
.s-116eef div[title="#116eef"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-f19097 div[title="#f19097"] {
  background-color: #f19097 !important;
}
.s-f19097 div[title="#f19097"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-5438db div[title="#5438db"] {
  background-color: #5438db !important;
}
.s-5438db div[title="#5438db"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-0a428f div[title="#0a428f"] {
  background-color: #0a428f !important;
}
.s-0a428f div[title="#0a428f"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-9028f1 div[title="#9028f1"] {
  background-color: #9028f1 !important;
}
.s-9028f1 div[title="#9028f1"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-6a4c28 div[title="#6a4c28"] {
  background-color: #6a4c28 !important;
}
.s-6a4c28 div[title="#6a4c28"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-8e97a0 div[title="#8e97a0"] {
  background-color: #8e97a0 !important;
}
.s-8e97a0 div[title="#8e97a0"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-30383f div[title="#30383f"] {
  background-color: #30383f !important;
}
.s-30383f div[title="#30383f"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-f4f4f4 div[title="#f4f4f4"] {
  background-color: #f4f4f4 !important;
}
.s-f4f4f4 div[title="#f4f4f4"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-000000 div[title="#000000"] {
  background-color: #000000 !important;
}
.s-000000 div[title="#000000"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-00ffa2 div[title="#00ffa2"] {
  background-color: #00ffa2 !important;
}
.s-00ffa2 div[title="#00ffa2"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-d40064 div[title="#d40064"] {
  background-color: #d40064 !important;
}
.s-d40064 div[title="#d40064"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-bcff74 div[title="#bcff74"] {
  background-color: #bcff74 !important;
}
.s-bcff74 div[title="#bcff74"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-00d2ff div[title="#00d2ff"] {
  background-color: #00d2ff !important;
}
.s-00d2ff div[title="#00d2ff"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-cca698 div[title="#cca698"] {
  background-color: #cca698 !important;
}
.s-cca698 div[title="#cca698"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-ff009c div[title="#ff009c"] {
  background-color: #ff009c !important;
}
.s-ff009c div[title="#ff009c"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-86aef0 div[title="#86aef0"] {
  background-color: #86aef0 !important;
}
.s-86aef0 div[title="#86aef0"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-0000ff div[title="#0000ff"] {
  background-color: #0000ff !important;
}
.s-0000ff div[title="#0000ff"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-4f76de div[title="#4f76de"] {
  background-color: #4f76de !important;
}
.s-4f76de div[title="#4f76de"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-fc00ff div[title="#fc00ff"] {
  background-color: #fc00ff !important;
}
.s-fc00ff div[title="#fc00ff"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-501176 div[title="#501176"] {
  background-color: #501176 !important;
}
.s-501176 div[title="#501176"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-7814ff div[title="#7814ff"] {
  background-color: #7814ff !important;
}
.s-7814ff div[title="#7814ff"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-b968c7 div[title="#b968c7"] {
  background-color: #b968c7 !important;
}
.s-b968c7 div[title="#b968c7"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-8ed9d2 div[title="#8ed9d2"] {
  background-color: #8ed9d2 !important;
}
.s-8ed9d2 div[title="#8ed9d2"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-00584c div[title="#00584c"] {
  background-color: #00584c !important;
}
.s-00584c div[title="#00584c"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-157b17 div[title="#157b17"] {
  background-color: #157b17 !important;
}
.s-157b17 div[title="#157b17"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-7fffa6 div[title="#7fffa6"] {
  background-color: #7fffa6 !important;
}
.s-7fffa6 div[title="#7fffa6"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-64dd16 div[title="#64dd16"] {
  background-color: #64dd16 !important;
}
.s-64dd16 div[title="#64dd16"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-970002 div[title="#970002"] {
  background-color: #970002 !important;
}
.s-970002 div[title="#970002"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-ff5a00 div[title="#ff5a00"] {
  background-color: #ff5a00 !important;
}
.s-ff5a00 div[title="#ff5a00"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-938467 div[title="#938467"] {
  background-color: #938467 !important;
}
.s-938467 div[title="#938467"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-938467 div[title="#938467"] {
  background-color: #938467 !important;
}
.s-938467 div[title="#938467"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-cd5a00 div[title="#cd5a00"] {
  background-color: #cd5a00 !important;
}
.s-cd5a00 div[title="#cd5a00"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-ff5893 div[title="#ff5893"] {
  background-color: #ff5893 !important;
}
.s-ff5893 div[title="#ff5893"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-ebea78 div[title="#ebea78"] {
  background-color: #ebea78 !important;
}
.s-ebea78 div[title="#ebea78"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-bef4ff div[title="#bef4ff"] {
  background-color: #bef4ff !important;
}
.s-bef4ff div[title="#bef4ff"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-cee1ed div[title="#cee1ed"] {
  background-color: #cee1ed !important;
}
.s-cee1ed div[title="#cee1ed"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-0087a4 div[title="#0087a4"] {
  background-color: #0087a4 !important;
}
.s-0087a4 div[title="#0087a4"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-f4ccdf div[title="#f4ccdf"] {
  background-color: #f4ccdf !important;
}
.s-f4ccdf div[title="#f4ccdf"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-77966c div[title="#77966c"] {
  background-color: #77966c !important;
}
.s-77966c div[title="#77966c"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-fcb0ff div[title="#fcb0ff"] {
  background-color: #fcb0ff !important;
}
.s-fcb0ff div[title="#fcb0ff"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-d6a70b div[title="#d6a70b"] {
  background-color: #d6a70b !important;
}
.s-d6a70b div[title="#d6a70b"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-0febe8 div[title="#0febe8"] {
  background-color: #0febe8 !important;
}
.s-0febe8 div[title="#0febe8"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-dceec5 div[title="#dceec5"] {
  background-color: #dceec5 !important;
}
.s-dceec5 div[title="#dceec5"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-3ba5ff div[title="#3ba5ff"] {
  background-color: #3ba5ff !important;
}
.s-3ba5ff div[title="#3ba5ff"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.s-FF6633 div[title="#FF6633"] {
  background-color: #FF6633 !important;
}
.s-FF6633 div[title="#FF6633"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 29px;
}

.tracker-table {
  max-height: calc(100vh - 500px);
  overflow: auto !important;
  padding-right: 10px;
}
.tracker-table .infinite-scroll-component__outerdiv {
  min-height: auto !important;
}
.tracker-table .infinite-scroll-component {
  overflow: visible !important;
}

/*# sourceMappingURL=custom.css.map */
